body {
	font-family: Arial, Helvetica, sans-serif;
}
.dropdown ul { 
	margin: 0px;
	padding: 0px;	
}

.dropdown a, a:visited { 
	color: black; 
	text-decoration: none; 
	outline: none;
}

.select a {
	background: url(arrow1.png) no-repeat scroll right center; 
	display: block; 
	padding-right: 20px;
    border: 1px solid #4dc3ff; 
	width: 150px;
}

.select a span {
	cursor: pointer; 
	display: block; 
	padding: 5px;
}

.dropdown ul { 
	background: none repeat scroll 0 0; 
	border: 1px solid #4dc3ff;
	display: none;
	padding: 5px 0px; 
	position: absolute; 
	width: auto; 
	min-width: 170px; 
	list-style: none;
}

.dropdown ul li a { 
	padding: 5px; 
	display: block;
}

.dropdown ul li a:hover { 
	background-color: #d9d9d9;
}